{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
  {% load cache %}
  {% cache 600 item_list list.pk %}
    <!-- {% now "H:i:s" %} -->
    <table id="id_list_table" class="table">
      {% for item in list.item_set.all %}
        <tr><td>{{ forloop.counter }}: {{ item.text }}</td></tr>
      {% endfor %}
    </table>
  {% endcache %}
{% endblock %}

{% block extra_content %}
  {% if user.email %}
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <h3>List shared with:</h3>
        <ul>
          {% for owner in list.shared_with.all %}
            <li class="list-sharee">{{ owner.email }}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-3">
      {% if user.email == list.owner.email %}
        <h3>Share this list</h3>
        <form method="POST"
              action="{% url 'share_list' list.id %}">
          <input name="sharee" type="text"
                 class="form-control"
                 placeholder="your@friends-email.com" />
          {% csrf_token %}
        </form>
      {% else %}
        <h3>List's owner:</h3>
          <p id="id_list_owner">{{ list.owner.email }}</p>
      {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block scripts %}
  <script>
$(document).ready(function () {
  window.Superlists.initialize({
    listApiUrl: "{% url 'list-detail' list.id %}",
    itemsApiUrl: "{% url 'item-list' %}",
    listId: {{ list.id }},
  });
});
  </script>
{% endblock scripts %}