{% extends 'base.html' %}

{% block header_text %}My Lists{% endblock %}

{% block list_form %}{% endblock %}

{% block extra_content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% if owner.list_set.all %}
        <h2>Your lists:</h2>
        <ul id="id_your_lists">
          {% for list in owner.list_set.all %}
            <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if owner.shared_lists.all %}
        <h2>Lists shared with you:</h2>
        <ul>
          {% for list in owner.shared_lists.all %}
            <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock %}