[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=mike
WorkingDirectory=/home/mike/sites/SITENAME/source
ExecStart=/home/mike/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    superlists.wsgi:application
    
[Install]
WantedBy=multi-user.target